Package: com.etaidev.dots
Name: Animated Dots Respring logo
Version: 1.0
Architecture: iphoneos-arm
Depends: 
Description: Respring logo
Homepage: the3gamingstars.github.io/packages/dots.html
Depiction: 
Maintainer: Etai <etaipollack@gmail.com>
Author: Etai <etaipollack@gmail.com>
Section: Respring Themes
